    {% include 'head.html' %}

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="yummy-load"></div>
    </div>

    {% include 'header.html' %}

    <!-- ****** Categories Area Start ****** -->
    <section class="categories_area clearfix" id="about">
        <div class="container">
            <div class="row">
                {% for category in categories %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
                        <img src=img/catagory-img/{{loop.index}}.jpg alt="">
                        <div class="catagory-title">
                            <a href="/section.php?id={{category.id}}">
                                <h5>{{category.category_name}}</h5>
                            </a>
                        </div>
                        <!-- edit/delete -->
                        <div class="buttons_wrap">
                            <i class="fa fa-pencil-square-o js-edit-category" data-name-category="{{category.category_name}}" data-id-category="{{category.id}}" aria-hidden="true"></i>
                            <i class="fa fa-times js-remove-category" data-id-category="{{category.id}}" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ****** Categories Area End ****** -->
    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>